<section class="mt-40">
  <h1 class="block font-bold text-gray-800 text-4xl md:text-5xl lg:text-6xl dark:text-gray-200 text-center">
      Mes
      <span class="bg-clip-text bg-gradient-to-tl from-blue-600 to-violet-600 text-transparent"> Competences</span>
    </h1>
  <div class="flex flex-wrap justify-center gap-x-5 gap-y-10 sm:gap-10 sm:px-10 mx-auto my-10 items-end">
    @for (item of skills; track $index) {
      <app-circular-progress [name]="item.name" [image]="item.image" [isDark]="item.isDark" ></app-circular-progress>
    }
  </div>
</section>
