<section>
  <h1 class="block font-bold text-gray-800 text-4xl md:text-5xl lg:text-6xl dark:text-gray-200 text-center mb-14 max-w-[75vw] mx-auto">
    Voici quelques-uns de mes <br /> meilleurs
    <span class="bg-clip-text bg-gradient-to-tl from-blue-600 to-violet-600 text-transparent"> projets</span>
  </h1>
  <div class="relative after:absolute after:inset-x-0 after:-bottom-8 mb-10 lg:after:-bottom-16 after:z-10 after:w-full after:h-[330px] after:bg-gradient-to-t after:from-white after:via-white/90 after:pointer-events-none dark:after:from-neutral-950 dark:after:via-neutral-950/95">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 max-w-[85rem] mx-8 lg:mx-16 gap-8  ">
      @for (project of projects; track $index) {
        <app-project-item [title]="project.title" [image]="project.image" [description]="project.description" [technologies]="project.technologies"></app-project-item>
      }
    </div>
  </div>
  <div class="grid place-items-center mt-4">
  <a href="" btn-1 text="Plus de projet"></a>
  </div>
</section>
